body {
  margin: 0;
  padding: 0;
  background-color: #194273;
  overflow-x: hidden;
}

.header {
  text-align: center;
  position: relative;
  top: 0px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  font-family: "Montserrat", sans-serif;
}

.heading {
  margin-top: 12%;
}

.head-para {
  text-align: center;
  padding: 4% 15% 0;
  color: white;
}

@media (max-width: 789.5px) {
  .heading {
    margin-top: 30%;
  }
  .head-para {
    text-align: center;
    padding: 7% 15% 0;
    color: white;
  }
}

h1 {
  font-size: 4rem;
  margin-left: 250px;
  margin-right: 250px;
  border-radius: 15px;
  background-color: #194273;
  color: #ffffff;
}
.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: #181719;
  color: #bbb;
  border-radius: 15px;
  transform: rotateY(180deg);
}

.cards {
  padding-top: 80px;
  padding-left: 80px;
  position: relative;
  top: 50px;
  text-shadow: 2px 2px 4px #000000;
}

.card2 {
  border-radius: 15px;
  padding-top: 50px;
  margin-bottom: 50px;
  margin: 80px 2px;
}

.sponsor {
  background-color: #dcf4ff75;
  /* height: 1400px; */
  width: 100%;
  /*background-image:linear-gradient(150deg, #5298dd 0%, #2534b9 100%);*/
  background-color: #194273;
}

.card3 {
  border-radius: 15px;
  padding-top: 0px;
  margin-bottom: 50px;
  margin: 80px 2px;
}

@media (min-width: 767px) and (max-width: 992px) {
  #spons {
    height: 3700px;
  }
  #row1 {
    margin-left: 120px;
  }
  #card1 {
    margin-bottom: 70px;
  }
  #card2 {
    margin-bottom: 70px;
  }
  #card4 {
    margin-bottom: 70px;
  }
  #card5 {
    margin-bottom: 70px;
  }
  #card7 {
    margin-bottom: 70px;
  }
  #card8 {
    margin-bottom: 70px;
  }
}
@media (min-width: 700px) and (max-width: 766px) {
  #spons {
    height: 3600px;
  }
  #major {
    margin-left: 110px;
  }
  #card1 {
    margin-bottom: 70px;
  }
  #card2 {
    margin-bottom: 70px;
  }
  #card4 {
    margin-bottom: 70px;
  }
  #card5 {
    margin-bottom: 70px;
  }
  #card7 {
    margin-bottom: 70px;
  }
  #card8 {
    margin-bottom: 70px;
  }
}
@media (min-width: 466px) and (max-width: 699px) {
  #spons {
    height: 3700px;
  }
  #major {
    margin-left: 40px;
  }
  #card1 {
    margin-bottom: 70px;
  }
  #card2 {
    margin-bottom: 70px;
  }
  #card4 {
    margin-bottom: 70px;
  }
  #card5 {
    margin-bottom: 70px;
  }
  #card7 {
    margin-bottom: 70px;
  }
  #card8 {
    margin-bottom: 70px;
  }
}
@media (min-width: 385px) and (max-width: 465px) {
  h1 {
    position: relative;
    right: 20px;
  }
  #card1 {
    position: relative;
    right: 11%;
    margin-bottom: 70px;
  }
  #card2 {
    position: relative;
    right: 11%;
    margin-bottom: 70px;
  }
  #card3 {
    position: relative;
    right: 11%;
  }
  #card4 {
    position: relative;
    /* right: 11%; */
    margin-bottom: 70px;
  }
  #card5 {
    position: relative;
    /* right: 11%; */
    margin-bottom: 70px;
  }
  #card6 {
    position: relative;
    /* right: 11%; */
  }
  #card7 {
    position: relative;
    right: 11%;
    margin-bottom: 70px;
  }
  #card8 {
    position: relative;
    right: 11%;
    margin-bottom: 70px;
  }
  #card9 {
    position: relative;
    right: 11%;
  }
}

@media (min-width: 350px) and (max-width: 385px) {
  #spons {
    height: 3600px;
  }
  h1 {
    position: relative;
    right: 14px;
  }

  #card1 {
    position: relative;
    right: 18%;
    margin-bottom: 70px;
  }
  #card2 {
    position: relative;
    right: 18%;
    margin-bottom: 70px;
  }
  #card3 {
    position: relative;
    right: 18%;
  }
  #card4 {
    position: relative;
    /* right: 18%; */
    margin-bottom: 70px;
  }
  #card5 {
    position: relative;
    /* right: 18%; */
    margin-bottom: 70px;
  }
  #card6 {
    position: relative;
    /* right: 111% */
  }
  #card7 {
    position: relative;
    right: 18%;
    margin-bottom: 70px;
  }
  #card8 {
    position: relative;
    right: 18%;
    margin-bottom: 70px;
  }
  #card9 {
    position: relative;
    right: 18%;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  #card1 {
    position: relative;
    right: 85px;
  }
  #card2 {
    position: relative;
    right: 45px;
  }
  #card3 {
    position: relative;
    right: 15px;
  }
  #card4 {
    position: relative;
    right: 38px;
  }
  #card6 {
    position: relative;
    left: 45px;
  }
  #card7 {
    position: relative;
    right: 85px;
  }
  #card8 {
    position: relative;
    right: 38px;
  }
}
@media (min-width: 200px) and (max-width: 350px) {
  h1 {
    position: relative;
    right: 00px;
    font-size: 50px;
    word-wrap: normal;
  }
  #card1 {
    position: relative;
    right: 75px;
    margin-bottom: 70px;
  }
  #card2 {
    position: relative;
    right: 75px;
    margin-bottom: 70px;
  }
  #card3 {
    position: relative;
    right: 75px;
  }
  #card4 {
    position: relative;
    right: 9px;
    margin-bottom: 70px;
  }
  #card5 {
    position: relative;
    right: 9px;
    margin-bottom: 70px;
  }
  #card6 {
    position: relative;
    right: 9px;
  }
  #card7 {
    position: relative;
    right: 78px;
    margin-bottom: 70px;
  }
  #card8 {
    position: relative;
    right: 78px;
    margin-bottom: 70px;
  }
  #card9 {
    position: relative;
    right: 78px;
  }
}

/* /////////////////////navbar//////////////////////////// */

.logo {
  text-align: left;
  width: 420px;
  height: 100px;
  margin-top: 2%;
  margin-left: -22%;
  z-index: 1;
  width: 130px;
  height: 100%;
}

nav {
  height: 60px;
}
.navbar {
  position: fixed;
  margin-right: -5%;
  margin-top: 0;
  width: 100%;
  z-index: 1;
  display: fixed;
  top: 0;
  background-color: #000;
  padding: 2.3%;
}

.nav-link {
  color: #fff !important;
  margin-left: 25px;
}

.nav-item {
  font-weight: bolder;
}

@media (max-width: 991.5px) {
  .navbar {
    background-color: #000;
    padding: 0%;
  }
  .logo {
    width: 100px;
    margin-left: 0px;
  }
  .nav-item {
    background-color: #000;
  }
}
/* ///////////////////////////// footer////////////////////////// */

footer {
  background-color: #d4d8e8;
  color: #194273;
  height: 20%;
  width: 100%;
  padding-top: 100px;
  padding-bottom: 10px;
}

.faaa {
  color: #194273;
}

@media (max-width: 991.5px) {
  footer {
    padding: 7%;
  }
}

/*//////////////////////////////// scrollbar ////////////////////////////////////////*/

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.container-colored {
  background-color: #194273;
  color: #fff;
}
